<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>AI Baby Name Generator</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>
<body>
<div id="title-div">
    <h1 id="title">AI Baby Name Generator</h1>
</div>
<img id="baby-logo" src="https://shorturl.at/jzQR0" alt="baby icon">
<main>
    <section id="generated-name-section">
        <h3 id="generated-name-text">Generated Name</h3>
        <h4 id="generated-name">...</h4>
    </section>
    <section id="generator-settings">
        <h3 id="generator-settings-text">Generator Settings</h3>
        <div id="generator-settings-div">
            <h4>Gender</h4>
            <input id="boy" name="gender" type="radio">
            <label for="boy">Boy</label>
            <input id="girl" name="gender" type="radio">
            <label for="girl">Girl</label>
            <input id="unisex" name="gender" type="radio">
            <label for="unisex">Unisex</label>
            <input id="non-binary" name="gender" type="radio">
            <label for="non-binary">Non-Binary</label>

        </div>
    </section>
</main>
</body>
</html>