@import "global-variables";
@import "global-mixins";
@import "global-functions";
@import "global-placeholders";
@import "global-style";

.name-input-div {
    margin: $one-percent 0;
    p {
        font-size: calc(((0.75vw + 0.75vh) / 2) + 6px);
    }
}

#loading-wheel-div {
    display: none;
    justify-content: center;
    align-items: center;
    width: $three-percent;
    height: $three-percent;
    @include square-size($three-percent);
    > * {
        @extend %fit-container;
    }
}
#generate-name-section {
    @include flex(center, center, column);

    #generated-names-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        > * {
            margin: $one-percent 0;
        }

        .generated-name-bubble {
            @include flex(center, center, column);
            width: $fourteen-percent;
            height: $fourteen-percent;
            background-image: $thought-bubble;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            .generated-name-bubble-text-div {
                @include flex(center, center, column);
                margin: 0 0 $quarter-percent 0;

                .generated-name-bubble-text {
                    color: $soft-grey;
                    white-space: pre;
                }
            }

            .generated-name-save-button {

            }
        }
    }
}
#nationality-example-text {
    font-size: calc(((0.75vw + 0.75vh) / 2) + 4px);
}

#generated-name-div {
    background-color: #f1f1f1;
    padding: calc((1vh + 1vw) / 2);
    border-radius: calc((5vh + 5vw) / 2);
}
#generator-settings-input-div {
    background-color: #f1f1f1;
    padding: calc((1vh + 1vw) / 2);
    border-radius: calc((5vh + 5vw) / 2);
    border: white solid calc((0.25vh + 0.25vw) / 2);
}
#gender-selector-dropdown {
    @include flex(center, center, column);
    background-color: $mahogany;
    @extend %soft-border-curve;
    padding: $one-percent 0;
    color: $pristine-white;
    border: $bronze solid $thin-border;
    box-shadow: $pure-brown $quarter-percent $quarter-percent 0 0;
    margin: 0 0 $one-percent 0;
    #gender-selector {
        @include flex(center, center, row);
        margin: 0 0 0 $two-percent;
        #dropdown-caret-div {
            @include flex(center, center, column);
            @include square-size($two-percent);
            #dropdown-caret-img {
                @extend %fit-container;
            }
        }
    }
    .gender-item-div {
        width: 100%;
        padding: $half-percent 0;
        margin: $half-percent 0;
        &:hover {
            background-color: $bronze;
        }
    }
    hr {
        margin: 0;
    }
}
.opened-dropdown {
    #dropdown-caret-div {
        rotate: 180deg;
    }
    .gender-item-div {
        @include flex(center, center, row);
    }
    hr {
        display: flex;
    }
}
.closed-dropdown {
    .gender-item-div {
        display: none;
    }
    hr {
        display: none;
    }
}
@keyframes float {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
@keyframes negative-float {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
}