@import "global-variables";
.name-input-div {
    margin: $one-percent $none;
    p {
        font-size: calc(((0.75vw + 0.75vh) / 2) + 6px);
    }
}
#generated-name-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#loading-wheel-div {
    display: none;
    justify-content: center;
    align-items: center;
    width: $three-percent;
    height: $three-percent;
    > * {
        width: $three-percent;
        height: $three-percent;
    }
}
#generated-names-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    > * {
        margin: $one-percent $none;
    }
}
#nationality-example-text {
    font-size: calc(((0.75vw + 0.75vh) / 2) + 4px);
}

#generated-name-div {
    background-color: #f1f1f1;
    padding: calc((1vh + 1vw) / 2);
    border-radius: calc((5vh + 5vw) / 2);
}
#generator-settings-input-div {
    background-color: #f1f1f1;
    padding: calc((1vh + 1vw) / 2);
    border-radius: calc((5vh + 5vw) / 2);
    border: white solid calc((0.25vh + 0.25vw) / 2);
}
.generated-name-bubble {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $fourteen-percent;
    height: $fourteen-percent;
    background-image: $thought-bubble;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    > * {
        margin-bottom: $one-percent;
    }
    .generated-name-bubble-text {
        color: $soft-grey;
        white-space: pre;
    }
}

@keyframes float {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
@keyframes negative-float {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
}