@import "global-variables";
@import "global-mixins";
@import "global-functions";
@import "global-placeholders";

/*=================================-Styles-=================================*/

/*-----------------------------------Text-----------------------------------*/
h1 {
    font-size: $h1-font-size;
    @extend %no-margin-padding;
}
h2 {
    font-size: $h2-font-size;
    @extend %no-margin-padding;
}
h3 {
    font-size: $h3-font-size;
    @extend %no-margin-padding;
}
h4 {
    font-size: $h4-font-size;
    @extend %no-margin-padding;
}
h5 {
    font-size: $h5-font-size;
    @extend %no-margin-padding;
}
h6 {
    font-size: $h6-font-size;
    @extend %no-margin-padding;
}
p {
    font-size: $h6-font-size;
    @extend %no-margin-padding;
}
hr {
    width: 100%;
    margin: calc(((1vw + 1vh) / 2) + 0.5em);
}
.link-no-style {
    text-decoration: inherit;
    color: inherit;
}
/*-----------------------------General-Content------------------------------*/

body {
    font-family: Arial, Helvetica, sans-serif;
    //background-color: $off-white;
    background-color: $alabaster-stone;
    @include flex(center, center, column);
    @extend %no-margin-padding;
    text-align: center;
    min-height: 100vh;
    main {
        width: 100%;
        @include flex(center, center, column);
        @extend %no-margin-padding;
    }
}
header {
    width: 100%;
    height: calc-size(3, 6, 2);
    @include flex(center, center, row);
    margin: 0 0 $one-percent 0;
    //background-color: $tan;
    background-color: $mahogany;
    box-shadow: $bronze 0 0 $quarter-percent $quarter-percent;
    nav {
        @extend %soft-border-curve;
        //background-color: $lighter-tan;
        width: 50%;
        @extend %fit-container;
        @include flex(space-around, center, row);

        .nav-item {
            border: $bronze solid $thin-border;
            padding: $half-percent;

            //background-color: $golden-harvest;
            @extend %soft-border-curve;
            @include flex(center, center, row);
            transition: background-color 0.1s ease-in-out;
            h4 {
                color: $pristine-white;
            }
            &:hover {
                cursor: pointer;
                background-color: $bronze;
                //box-shadow: $bronze $quarter-percent $quarter-percent 0 0;
            }
        }
    }
}
/*---------------------------------Buttons----------------------------------*/
.button {
    @include size(auto, auto);
    background-color: $mahogany;
    color: $pristine-white;
    padding: $half-percent;
    //box-shadow: $bronze $quarter-percent $quarter-percent 0 0;
    border: $bronze solid $thin-border;
    margin: $eighth-percent;
    transition: background-color, color, 0.15s ease-in-out;
    @extend %soft-border-curve;
    &:hover {
        cursor: pointer;
        background-color: $bronze;
        color: $pristine-white;
    }
}
.medium-button {
    @extend .button;
}

hr {
    border: $bronze solid $thinnest-border;
    box-shadow: $soft-bronze $quarter-percent $quarter-percent 0 0;
}
footer {
    box-shadow: $bronze 0 0 $quarter-percent $quarter-percent;
    margin-top: auto;
    background-color: $mahogany;
    width: 100%;
    padding: $half-percent 0;
    color: $pristine-white;
    @include flex(center, center, row);
    div {
        flex: 1;
        &:first-child {
            border-right: $bronze solid $thin-border;
        }
    }
}
/*---------------------------Animations-----------------------------*/
@keyframes radiate {
    0% {
        box-shadow: bisque calc((1vw + 1vh) / 2)
        calc((1vw + 1vh) / 2)
        calc((1vw + 1vh) / 2);
    }
    25% {
        box-shadow: bisque calc((0.25vw + 0.25vh) / 2)
        calc((0.5vw + 0.5vh) / 2)
        calc((0.5vw + 0.5vh) / 2);
    }
    50% {
        box-shadow: 0 0 0 calc((1vw + 1vh) / 2) bisque;
    }
    100% {
        box-shadow: bisque calc((1vw + 1vh) / 2)
        calc((1vw + 1vh) / 2)
        calc((1vw + 1vh) / 2);
    }
}
@keyframes soft-radiate {
    0% {
        box-shadow: bisque calc((0.5vw + 0.5vh) / 2)
        calc((0.5vw + 0.5vh) / 2)
        calc((1vw + 1vh) / 2);
    }
    25% {
        box-shadow: bisque 0 calc((0.5vw + 0.5vh) / 2)
        calc((0.5vw + 0.5vh) / 2);
    }
    50% {
        box-shadow: 0 0 0 calc((0.1vw + 0.11vh) / 2) bisque;
    }
    100% {
        box-shadow: bisque calc((0.5vw + 0.5vh) / 2)
        calc((0.5vw + 0.5vh) / 2)
        calc((1vw + 1vh) / 2);
    }
}
@keyframes shift-shadow {
    0% {
        box-shadow: black calc((0.5vw + 0.5vh) / 2)
        calc((1vw + 1vh) / 2)
        calc((1vw + 1vh) / 2);
    }
    25% {
        box-shadow: black calc((0.25vw + 0.25vh) / 2)
        calc((1vw + 1vh) / 2)
        calc((1vw + 1vh) / 2);
    }
    50% {
        box-shadow: black 0 calc((1vw + 1vh) / 2)
        calc((1vw + 1vh) / 2);
    }
    75% {
        box-shadow: black calc((0.25vw + 0.25vh) / 2)
        calc((1vw + 1vh) / 2)
        calc((1vw + 1vh) / 2);
    }
    100% {
        box-shadow: black calc((0.5vw + 0.5vh) / 2)
        calc((1vw + 1vh) / 2)
        calc((1vw + 1vh) / 2);
    }
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(calc((0.5vw + 0.5vh) / 2));
    }
    100% {
        transform: translateY(0);
    }
}