<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Baby Name Generator</title>
    <link rel="stylesheet" href="../static/style/generator-style.css"
          th:href="@{/style/generator-style.css}">
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}">
</head>
<body data-page="generator">
<header>
    <nav>
        <a href="/generator/" class="link-no-style nav-item">
            <div>
                <h4 class="nav-text">Generator</h4>
            </div>
        </a>
        <a href="/names/" class="link-no-style nav-item">
            <div>
                <h4 class="nav-text">Your Names</h4>
            </div>
        </a>
        <a href="/rankings/" class="link-no-style nav-item">
            <div>
                <h4 class="nav-text">Rankings</h4>
            </div>
        </a>
    </nav>
</header>
<main>
    <section id="generate-name-section">
        <div id="generated-name-title-div">
            <!--        <h2 id="generated-name-text">Generated Name</h2>-->
        </div>
        <section id="generated-names-section">
            <div class="generated-name-bubble">
                <div class="generated-name-bubble-text-div">
                    <h4 class="generated-name-bubble-text">Marques <br> Boham</h4>
                </div>
                <div class="generated-name-save-button tiny-button">
                    <h5>Save</h5>
                </div>
            </div>
        </section>
        <div id="generate-name-button-div" class="large-button">
            <h3 id="generate-name-button">Generate</h3>
        </div>
        <div id="loading-wheel-div">
            <img id="loading-wheel-img" src="../static/images/loading_wheel.gif" alt="loading wheel"
                 th:src="@{/images/loading_wheel.gif}">
        </div>
    </section>
    <section id="name-info-popup-section">

    </section>
</main>
<!-- TODO: On mobile, add shake to shuffle or random. -->
<section id="generator-settings-section">
    <div id="generator-settings-title-div">
        <h3 id="generator-settings-title-text">Settings</h3>
    </div>
    <div id="generator-settings-input-div">
        <div id="generator-gender-div" class="name-input-div">
            <h5>Gender</h5>
            <input class="gender-input" id="any" name="gender" type="radio" checked>
            <label for="any">Any</label>
            <input class="gender-input" id="boy" name="gender" type="radio">
            <label for="boy">Boy</label>
            <input class="gender-input" id="girl" name="gender" type="radio">
            <label for="girl">Girl</label>
            <input class="gender-input" id="unisex" name="gender" type="radio">
            <label for="unisex">Unisex</label>
            <input class="gender-input" id="non-binary" name="gender" type="radio">
            <label for="non-binary">Non-Binary</label>
            <input class="gender-input" id="other" name="gender" type="radio">
            <label for="other">Other</label>
        </div>
        <div class="name-input-div">
            <h5>Nationality</h5>
            <p id="nationality-example-text">Ex. Spanish, American, South African, Irish American</p>
            <input id="nationality-input" type="text">
        </div>
        <div class="name-input-div">
            <h5>Similar names </h5>
            <p>Separate by comma ","</p>
            <input id="similar-names-input" type="text">
        </div>
        <div class="name-input-div">
            <h5>Dissimilar Names</h5>
            <p>Separate by comma ","</p>
            <input id="dissimilar-names-input" type="text">
        </div>
        <div class="name-input-div">
            <h5>Uniqueness</h5>
            <input id="uniqueness-input" type="range" min="1" max="10">
        </div>
        <div class="name-input-div">
            <h5>Complexity</h5>
            <input id="complexity-input" type="range" min="1" max="10">
        </div>
        <div class="name-input-div">
            <h5>Last Name</h5>
            <input id="last-name-input" type="text">
        </div>
        <div class="name-input-div">
            <h5>Number of Names</h5>
            <input id="number-of-names-input" type="range" min="1" max="10">
        </div>
        <div class="name-input-div">
            <h5>Length of Names</h5>
            <input id="length-of-names-input" type="range" min="1" max="10">
        </div>
    </div>
</section>
<footer>
    <div>
        <h5>&copy 2024 Sigwarth Software</h5>
    </div>
    <div>
        <h5>Terms of Service</h5>
    </div>
</footer>
<script src="../static/script/bundle.js" type="application/javascript"
        th:src="@{/script/bundle.js}"></script>
</body>
</html>