<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>AI Baby Name Generator</title>
    <link rel="stylesheet" href="../static/style/global-style.css">
</head>
<body>
<div id="title-div">
    <h1 id="title">AI Baby Name Generator</h1>
</div>
<img id="baby-logo" src="https://shorturl.at/jzQR0" alt="baby icon">
<div>
    <div id="generate-now-div">
        <h2 id="generate-now-text">Generate Now</h2>
    </div>
</div>
<!---------------------------------Summary----------------------------------->
<section class="paragraph-section">
    <p class="paragraph-text">
        The days of picking baby names from movies and TV shows, or even
        family members, is over! It's finally time to use artificial
        intelligence as it was meant for -- generating baby names! This app
        will use OpenAI to help you name your child based on a number of
        factors. You can choose between boy names, girl names, or unisex names
        which can be filtered by nationality, popularity, uniqueness, and
        preferred names! So what are you waiting for? Name your child today
        with the AI Baby Name Generator!
    </p>
</section>
</body>
</html>