<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>AI Baby Name Generator</title>
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}">
    <link rel="stylesheet" href="../static/style/home-style.css"
          th:href="@{/style/home-style.css}">
    <link rel="icon" href="../static/images/favicon/logo_favicon.ico"
          th:href="@{/images/favicon/logo_favicon.ico}">
</head>
<body>
<header>
    <nav>
        <a href="/generator/" class="link-no-style nav-item">
            <div>
                <h4 class="nav-text">Generator</h4>
            </div>
        </a>
        <a href="/names/" class="link-no-style nav-item">
            <div>
                <h4 class="nav-text">Your Names</h4>
            </div>
        </a>
        <a href="/rankings/" class="link-no-style nav-item">
            <div>
                <h4 class="nav-text">Rankings</h4>
            </div>
        </a>
    </nav>
</header>
<main>
    <div id="title-div">
        <h2 id="title-text">AI Baby Name Generator</h2>
    </div>
    <section id="intro-section">
        <section id="promo-text-section">
            <div id="subtext-div">
                <h4>
                    Smarter, more unique, tailor-made baby names for your child.
                </h4>
            </div>
            <!--            <hr />-->
            <div id="promo-text-div">
                <p id="promo-text">
                    The days of picking baby names from movies and TV shows, or even
                    family members, is over! It's finally time to use artificial
                    intelligence as it was meant for -- generating baby names! In all
                    seriousness, AI has the ability to be creative in ways we could only
                    dream of. It's read more books and heard of more people that you'd
                    ever have time for. That's what this app will do for you. Your child
                    will have that name for the rest of their life -- so let's make it
                    right! This app will use OpenAI to help you name your child based on a
                    number of factors. You can choose between boy names, girl names, or
                    unisex names which can be filtered by nationality, popularity,
                    uniqueness, and preferred names! So what are you waiting for? Name
                    your child today with the AI Baby Name Generator! So you can see what
                    we're all about, you can get sneek peek with a free account.
                </p>
            </div>
        </section>
        <section id="logo-with-button-section">
            <div id="baby-logo-div">
                <img id="baby-logo-img" src="../static/images/baby_name_generator_logo_transparent_cropped.png" alt="baby icon"
                     th:src="@{/images/baby_name_generator_logo_transparent_cropped.png}">
            </div>
            <div>
                <a href="/generator/" class="link-no-style">
                    <div id="generate-now-div" class="medium-button">
                        <h3 id="generate-now-text">Generate</h3>
                    </div>
                </a>
            </div>
        </section>
    </section>
</main>
<section id="auto-generator-section">
    <!-- TODO: Generator settings shuffled for the auto generator. -->
    <div id="auto-generator-title-div">
        <h3 id="auto-generator-title-text">Auto-Generated Names</h3>
    </div>
    <section id="auto-generated-names-section">
        <div class="generated-name-div">
            <h4 class="generated-name-text">Alex Nievaldsen</h4>
        </div>
        <div class="generated-name-div">
            <h4 class="generated-name-text">Hailey Martin</h4>
        </div>
        <div class="generated-name-div">
            <h4 class="generated-name-text">Juan Martinez</h4>
        </div>
    </section>
</section>
<footer>
    <div>
        <h5>&copy 2024 Sigwarth Software</h5>
    </div>
    <div>
        <h5>Terms of Service</h5>
    </div>
</footer>
<script src="../static/script/bundle.js" type="application/javascript"
        th:src="@{/script/bundle.js}"></script>
</body>
</html>