<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>AI Baby Name Generator</title>
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}">
    <link rel="stylesheet" href="../static/style/home-style.css"
            th:href="@{/style/home-style.css}">
</head>
<body>
<div id="title-div">
    <h1 id="title">AI Baby Name Generator</h1>
</div>
<img id="baby-logo" src="https://shorturl.at/jzQR0" alt="baby icon">
<div>
    <div id="generate-now-div">
        <h2 id="generate-now-text">Generate Now</h2>
    </div>
</div>
<!---------------------------------Summary----------------------------------->
<section class="paragraph-section">
    <p class="paragraph-text">
        The days of picking baby names from movies and TV shows, or even
        family members, is over! It's finally time to use artificial
        intelligence as it was meant for -- generating baby names! In all
        seriousness, AI has the ability to be creative in ways we could only
        dream of. It's read more books and heard of more people that you'd
        ever have time for. That's what this app will do for you. Your child
        will have that name for the rest of their life -- so let's make it
        right! This app will use OpenAI to help you name your child based on a
        number of factors. You can choose between boy names, girl names, or
        unisex names which can be filtered by nationality, popularity,
        uniqueness, and preferred names! So what are you waiting for? Name
        your child today with the AI Baby Name Generator! So you can see what
        we're all about, you can get sneek peek with a free account.
    </p>
</section>
<script src="../static/script/globalScript.js"
        th:src="@{/script/globalScript.js}"></script>
<script src="../static/script/homeScript.js"
        th:src="@{/script/homeScript.js}"></script>
</body>
</html>